footer {
  height: 15%;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
}

footer span {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#fff4, #fff9);
  transition: color 0.5s;
}

.click {
  background: linear-gradient(#f00a, #f00f);
  color: #fff;
}

footer span,
label {
  margin: 0.5rem;
  border-radius: 1rem;
  display: none;
}

footer:hover span,label{
  display:flex;
}


label span {
  margin: 0;
  height: 100%;
  width: 100%;
  border: 0;
}

input {
  display: none
}

@media(orientation:landscape) {
  footer {
    grid-template-columns: auto auto auto auto
  }
}

