@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Mukta', sans-serif;
  user-select: none;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

h1 {
  height: 10%;
  width: 100%;
  text-align: center;
}

h1 a {
  color: #fff9;
  text-decoration: none;
}
b{
  text-align: center;
  color:#0004;
  animation: blink 2s ease-in;
}
body:hover b{
  display: none;
}
@keyframes blink{
  from{
    color: transparent;
  }
  50%{
    color: black;
  }
  
}
